/* inter normal font */
@font-face {
  font-family: inter;
  src: url('./fonts/Inter/static/Inter-Regular.ttf');
  font-weight: normal;
}

/* inter bold font */
@font-face {
  font-family: inter;
  src: url('./fonts/Inter/static/Inter-Bold.ttf');
  font-weight: bold;
}

/* lora normal font */
@font-face {
  font-family: lora;
  src: url('./fonts/Lora/static/Lora-Regular.ttf');
  font-weight: normal;
}

/* lora bold font */
@font-face {
  font-family: lora;
  src: url('./fonts/Lora/static/Lora-Bold.ttf');
  font-weight: bold;
}

:root{
  --orange : rgb(169, 121, 43);
  --light-orange: #E3B261;
  --light-grey: #f3f4f6;  
  --dark: rgb(31, 41, 5);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

.p-relative{
  position: relative;
}

.p-absolute{
  position: absolute;
}

.w-100{
  width: 100%;
}

ul{
  padding: 0;
  list-style: none;
}

h1, h2{
  font-family: 'Lora', serif;
}

.d-flex{
  display: flex;
}

.pd-2{
  padding: 2em;
}

body{ 
  margin: 0;  
}

.align-right{
  text-align: right;
}

.container{
  background: url('./img/wood-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}

.first-row{
  position: relative;
}

.logo-container, .website{
  background-color: var(--orange);  
  padding: 1em;
  margin-left: 0.5em;
}

.logo-container, .website{
  width: 160px;
  justify-content: center;
}

.hd-receipes{
  font-size: 6rem;
  text-transform: uppercase;
  position: absolute;
  left: 165px;
  top: 34px;
  color: var(--light-grey);
}

.menus{
  background-color: #fff;
  width: 72.5%;
  padding: 5em;
}

.menus > ul{
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 3em;
}

.menu-img{
  width: 240px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.menu-link{
  flex-direction: column;
  width: 240px;
  text-align: center;
  gap: 1em;
  text-decoration: none;
  padding-bottom: 1em;
  color: #000;
  border-bottom: 2px solid var(--orange);
}

.menu-img-icon{
  width: 23%;
  position: absolute;
  bottom: -55%;
  right: 1%;
  height: auto;
}

.website > a{
  color: var(--light-grey);
  text-decoration: none;
}

.website > a:hover{
  color: #fff;
}

/* footer */
footer{
  justify-content: space-between;
}

.gap-1{
  gap: 1em;
}

.gap-2{
  gap: 2em;
}

.align-center{
  align-items: center;
}

.info{
  margin-right: 0.5em;
  background-color: var(--light-orange);
  border-left: 2px solid var(--orange);
  padding-inline: 1em;
  color: var(--dark);
}

.social-link{
  fill: var(--dark);
}

.social-link:hover{
  fill: #000;
}

.bg-light-grey{
  background-color: var(--light-grey);
}

/* recipe pages */
.logo-bg{
  margin-inline: 0.5em;
  border-bottom-right-radius: 3em;  
  border-bottom-left-radius: 3em;
  background: var(--orange);
  padding: 0.5em;
  width: 75px;
  top: 0;
  z-index: 1;
}

.recipe-name{
  align-self: center;
  text-align: center;
  background-color: rgba(255,255,255, 0.4);
  top: 15px;
  padding-block: 0.25em;
}

.recipe-img{
  height: 400px;
  object-fit: cover;
  margin: 0 auto;
}

.content-container{
  flex-direction: row-reverse;
  margin: 4em;
  justify-content: space-between;
}

.right-side{
  position: sticky;
  top: 0;
  flex-basis: 35%;
  height: fit-content;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.duration-pattern-img{
  height: 7em;
  object-fit: cover;
  opacity: 0.5;
}

.prepare-meal-img{
  width: 40%;
  height: auto;
  position: absolute;
  top: 4%;
  right: 50%;
  transform: translateX(50%);
}

.facts{
  padding: 4em 2em;
  flex-direction: column;
}

.duration > div {
  display: list-item; 
  padding-left: 1em;
  margin-left: 1em; 
}

.duration > div::marker{
  content: "\2724";
  font-size: 1.2em;
  color: var(--light-orange);
}

.nutrition-container{
  margin-top: 2em;
  padding-top: 1.5em;
  border-top: 1px solid var(--orange);
}

.nutrition-container > p{
  padding-top: 2em;
}

.nutrition-table{
  border-collapse: collapse;
  margin-top: 1em;
}

.nutrition-table td {
  border-top: 1px solid var(--light-grey);
  padding-block: 0.25em;
}

td.pb-half{
  padding-block: 0.5em;
}

.nutrition-table tr:last-child > td {
  border-bottom: 1px solid var(--light-grey);
}

.left-side{
  flex-basis: 60%;
  flex-direction: column;
}

.left-side > div + div {
  padding-block: 4em;
}

.desc-container{
  background-color: var(--light-orange);
}

h2{
  padding-bottom: 0.75em;
}

.ingredients-container{
  gap: 4em;
}

.ingredients-container > ul > li::marker{
  content: '\2767';
  color: var(--light-orange);
}

.ingredient-ul{
  flex-direction: column;
  margin-top: 0.5em;
  gap: 0.5em;
}

.ingredient-ul > li{
  padding-left: 1em;
}

.steps-container{
  gap: 3.7em;
  border-top: 1px solid var(--light-orange);
  padding-bottom: 4em;
}

.steps-ol{
  counter-reset: list-no;
  flex-direction: column;
}

.steps-ol > li{
  display: flex;
}

.steps-ol > li::before{
  counter-increment: list-no;
  content: counter(list-no);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  background-color: var(--orange);
  color: #fff;
  min-width: 30px;
  height: 30px;
  margin-right: 1em;
}